.rodal
  
  &__header
    margin-bottom: 20px
  &__body
    height: 600px
    & img
      cursor: pointer
      object-fit: cover
      border-radius: 5px
      width: 100%
      height: 300px
    & p
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-line-clamp: 10
              line-clamp: 10
      -webkit-box-orient: vertical